.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}

.loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 8px;
  animation: loader1 .6s infinite;
}

.loader div:nth-child(2) {
  left: 8px;
  animation: loader2 .6s infinite;
}

.loader div:nth-child(3) {
  left: 32px;
  animation: loader2 .6s infinite;
}

.loader div:nth-child(4) {
  left: 56px;
  animation: loader3 .6s infinite;
}

.loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  color: white;
  transform: translate(-50%, -50%);
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(28px, 0);
  }
}
