.contact-button {
  position: absolute;
  bottom: 38px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  width: 300px;
  padding: 10px 30px;
  border: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, .9);
  color: #1a1a1a;
  box-shadow: 0 4px 7px rgba(0, 0, 0, .4);
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color .15s ease;
  transform: translateX(-50%);
}

.contact-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 991px) {
  .contact-button {
    right: 28px;
    left: auto;
    width: 238px;
    font-size: 16px;
    transform: none;
  }
}
